<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="b75e8d3a-b4cb-4546-b066-9e073114baf4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-07-15T15:00:04" updateDate="2019-07-17T08:28:49" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1063" creatorName="Santosh Gaikwad" writerName="Santosh Gaikwad" writerID="0" template="0" nodeTypeAlias="home" isPublished="true">
    <startDate>2019-07-17T04:28:28</startDate>
  </home>
</root>